@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:hover,
.fa {
  cursor: pointer;
}

section.header {
  background-color: white;
  border-bottom-left-radius: 7.33rem;
  padding-top: 4.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.7rem;
  padding: 0 1.6rem;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
}

.logo a {
  color: #6070ff;
}

.nav-links {
  display: none;
}

.fa-bars {
  color: #6070ff;
}

div.headline {
  padding: 7.6rem 1.6rem;
  background-image: url("/images/header-shapes-mobile.png");
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 2.66rem;
  color: #344563;
}

.headline-alexandra_big {
  display: none;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 1.066rem;
  line-height: 1.6rem;
  color: #344563;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1.066rem;
  line-height: 1.6rem;
  color: #7f8cff;
}

.connect a {
  color: #7f8cff;
}

.icons {
  display: flex;
  gap: 0.66rem;
}

.icons a {
  color: #505f79;
  font-size: 1.066rem;
}

.icons img {
  width: 15px;
}

/* WORKS SECTION */
section.works {
  margin: 7.6rem 24px 0 24px;
  display: grid;
  grid-row-gap: 6.933rem;
}

.tonic {
  background: white;
  padding: 1.066rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.tonic img {
  width: 100%;
  margin-bottom: 0.8rem;
}

.tonic h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.tonic .back {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tonic .back .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.tonic p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #344563;
}

.tonic ul {
  display: flex;
  gap: 10px;
}

.tonic ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03rem;
  color: #6070ff;
  background-color: #ebebff;
  padding: 0.266rem 0.8rem;
  border: 1px solid #dfe1e6;
  border-radius: 0.533rem;
}

.tonic div a {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 0.3rem 1rem;
  border: 1px solid #6070ff;
  border-radius: 0.53rem;
}

.works .tonic .right {
  display: flex;
  flex-direction: column;
  gap: 1.66rem;
}

.about {
  background-color: white;
  margin-top: 15.2rem;
  border-top-right-radius: 7.33rem;
  padding: 7.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about .resume {
  margin: 2.26rem 0 4rem 0;
}

.about .resume-link {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 0.3rem 1rem;
  border: 1px solid #6070ff;
  border-radius: 0.53rem;
}

.about .modals {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about .modals .option {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f7f7f9;
  padding-bottom: 0.66rem;
}

.about .modals .option span {
  font-style: normal;
  font-weight: 500;
  font-size: 1.33rem;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.about .modals ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about .modals ul li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  border-radius: 0.53rem;
  gap: 0.66rem;
}

@media screen and (min-width: 375px) {
  section.header {
    padding-top: 1.562rem;
  }

  div.headline {
    background-image: url("/images/Header-bg@2x.png");
    padding: 18% 8%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }

  .nav-links a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.333rem;
    color: #344563;
  }

  h1 {
    color: #091e42;
  }

  .headline-alexandra_small {
    display: none;
  }

  .headline-alexandra_big {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  section.header {
    padding-top: 1.562rem;
  }

  header {
    padding: 0 10.33rem;
  }

  .nav-links {
    display: flex;
    gap: 32px;
    gap: 2.133rem;
  }

  .fa-bars {
    display: none;
  }

  div.headline {
    padding: 15% 15%;
    padding: 12% 17.33rem;
    background-size: cover;
    background-image: url("/images/Header-bg@2x.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
